$backgroundColorTransparent: transparent;
$white: #ffffff;
$black: #000000;
$grey: #eaeaea;
$footerTitle: #010101;
$greyFooterText: #a2a2a2;
$textGrey: #6c6c6c;
$backgroundGradient: linear-gradient(to right, #ffa705, #ff3a95);
$backgroundGradient2: linear-gradient(to right, #cf832d 55%, #bd4d65 100%);

body {
  margin: 0px;
  padding: 0px;
  ont-size: 16px;
  font-family: ProximaNova-Regular;
}

.section-one {

  background: #cccccc;
  background-image: url("/images/1.png");
  background-repeat: no-repeat;
  background-size: cover;

  .top-bar {
    background: $backgroundColorTransparent;

    .top-bar-left {
      background: $backgroundColorTransparent;
      img {
        width: 150px;
        padding: 0px 0px 0px 10px;
        margin: 10px 30px 0px 10px;
        height: 60px;
      }
      .menu {
        background: $backgroundColorTransparent;
        a {
          margin-top: 18px;
          color: $white;
          padding-left: 5px;
        }

      }
      .menu-text {
        padding: 0px;
      }
      ul {
        line-height: 1.5em;

        li {

        }
        a {
          font-size: 14px;
          font-weight: 800;
        }

      }
    }
    .top-bar-right {
      background: $backgroundColorTransparent;
      .menu {
        background: $backgroundColorTransparent;
        a {
          font-size: 14px;
          color: $white;
        }
      }
      img {
        width: 18px;
        height: 13px;
      }

    }

  }

  .static-slider {
    min-height: 605px;
    h2 {
      font-size: 40px;
      font-family: sans-serif;
      font-weight: lighter;
      background: $backgroundGradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      letter-spacing: 1px;
    }
    p {
      color: #ffffff;
      font-size: 16px;
      font-weight: 800;
    }
    button {
      padding: 15px 40px 15px 40px;
      background: $backgroundGradient;
      border-radius: 5px;
      font-family: sans-serif;
      color: white;
      font-weight: 800;
      font-size: 16px;
      letter-spacing: 1px;
    }
  }
  .slider-bottom-text {
    .slide-foot {
      width: 100%;
      background: $backgroundGradient2;
      opacity: 0.8;
      min-height: 100px;
      margin-bottom: 50px;

      border-radius: 5px;
      .foot-content {
        min-height: 105px;
        .looking-for {
          border-right: 1px solid white;
          color: $white;
          font-weight: 100;
          h5 {
            font-color: $white;
          }
        }
        .input-group {
          margin-top: 13px;
          margin-bottom: 8px;
        }
        .input {
          color: $white;
          background: #c57830;
          font-weight: 500;
          border: 0px;
          box-shadow: none;
          margin-top: 10px;
          font-size: 16px;
        }
        ::-webkit-input-placeholder {
          color: $white;
        }

        .date-icon {
          border-right: 1px solid #c57830;
          height: 48px;
        }

        .looking-for-small {
          color: $white;
          h5 {
            font-color: $white;
            padding: 10px;

          }
        }

        input[type='text'], [type='date'] {
          padding: 1.5em;

        }

        .reservation-small {

          a {
            color: $white;
            font-size: 18px;
            font-weight: 800;
          }
        }

        .reservation {
          a {
            color: $white;
            font-size: 18px;
            font-weight: 800;
          }

        }

      }
    }

  }

}

.section-two {
  min-height: 710px;
  background: #cccccc;
  background-image: url("/images/1.png");
  background-repeat: no-repeat;
  background-size: cover;
  .experience-div {
    min-height: 350px;
    .experience {
      background: $backgroundGradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      h2 {
        font-size: 40px;
        font-family: sans-serif;
        font-weight: lighter;
        letter-spacing: 1px;
      }

    }
    .experience-img-one {
      img {
        width: 350px;
        height: 200px;
      }
    }
    img {
      margin-bottom: 10px;
    }
  }
  .workplace-div {
    min-height: 350px;
    .workplace {
      color: $white;
      a {
        color: $white;
        font-size: 18px;
        font-weight: 800;
        line-height: 3em;
      }
    }
  }
  .workplace-img-one {
    img {
      width: 450px;
      height: 200px;
    }
  }

}

.section-three {
  min-height: 720px;
  background: $black;

  .products {
    min-height: 100px;
    padding: 80px 0px 50px 0px;
    .product-title {
      background: $backgroundGradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      h2 {
        font-size: 40px;
        font-family: sans-serif;
        font-weight: lighter;
        letter-spacing: 1px;
      }
    }
    .product-more {
      p {
        color: $white;
      }
    }
  }
  .product-category {
    color: $white;
    .product-imge {
      display: flex;
      justify-content: center;
    }
    img {
      align: center;
      width: 90%;
    }
  }
}

.section-four {
  min-height: 90px;
  background: #f9f9f9;
  .offer {
    padding: 30px 0px 30px 0px;
    .offer-title {
      background: $backgroundGradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 40px;
      font-family: sans-serif;
      font-weight: lighter;
      letter-spacing: 1px;
    }
  }
  .offer-more {
    a {
      color: #cacaca;
      font-size: 16px;
      font-weight: 900;
      float: right;
      padding-bottom: 30px;
    }

  }

}

.section-five {
  min-height: 830px;
  background: #f9f9f9;
  .special-offer-img {
    display: flex;
    justify-content: center;
    img {
      width: 100%;
      padding: 10px;
      border-radius: 10px
    }
  }

}

.section-six {
  min-height: 400px;
  background: $white;
  padding-top: 60px;
  .dream-home {
    min-height: 320px;
    background: #cccccc;
    background-image: url("/images/1.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;

    h2 {
      color: $white;
      font-size: 40px;
      font-family: sans-serif;
      font-weight: lighter;
      letter-spacing: 1px;
    }
    p {
      color: $white;
    }
    a {
      background: $backgroundGradient;
      color: $white;
      border-radius: 5px;
      font-size: 16px;
      font-weight: 800;
      margin-left: 40%;
      padding: 15px;

    }
  }
}

.section-seven {
  min-height: 90px;
  background: $white;
  .news {
    padding: 15px 0px 30px 0px;
    .news-title {
      background: $backgroundGradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 40px;
      font-family: sans-serif;
      font-weight: lighter;
      letter-spacing: 1px;
    }
  }
  .news-more {
    a {
      color: #cacaca;
      font-size: 16px;
      font-weight: 900;
      float: right;
      padding-bottom: 30px;
    }

  }

}

.section-eight {
  min-height: 580px;
  background: $white;
  .article {

    .article-right {
      padding-left: 10px;
      .article-one {
        background-image: url("/images/8.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 90%;
        border-radius: 10px;
        margin-bottom: 25px;
        min-height: 250px;
        .article-content-small {
          min-height: 250px;
          color: $white;
          padding: 35px 30px 30px 30px;
        }
      }
      .article-two {
        background-image: url("/images/8.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 90%;
        border-radius: 10px;
        min-height: 250px;
        .article-content-small {
          min-height: 250px;
          color: $white;
          padding: 20px;
          padding: 35px 30px 30px 30px;
        }
      }
    }
    .article-left {
      min-height: 500px;
      background-image: url("/images/7.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 10px;

      .article-content {
        float: left;
        min-height: 500px;
        color: $white;
        padding: 40px 20px 20px 20px;

        p {
          font-size: 16px;
        }
      }

    }
    .date {
      font-weight: 800;
    }
    h5 {
      font-weight: 800;
    }
    .by {
      font-weight: 200;
    }
  }
}

.section-nine {
  min-height: 330px;
  background: $white;
  background: #cccccc;
  background-image: url("/images/1.png");
  background-repeat: no-repeat;
  background-size: cover;
  .orbit{
    position: relative;
    color: $white;
    margin-top: 1%;
    alignment: center;
    padding: 50px 50px;

  }
  .text-slider{
    background-color: #252422;
    font-size: 24px;
    font-weight: 200;
    font-style: italic;


  }
  .slider-indicator{
    background-color: #252422;


  }
}

.section-ten {
  min-height: 435px;
  background: $grey;
  border-bottom: 1px solid #d6d6d6;
  .callout {
    border: none;
  }
  .copy-right {
    a {
      color: $textGrey;
      font-weight: 800;
      font-size: 14px;
    }
    .copy-note {
      color: $textGrey;
      font-size: 14px;
    }

    img {
      width: 15px;
      height: 12px;
    }
  }
  .footer-title {
    color: $footerTitle;
    font-size: 14px;
    font-weight: 800;
  }
  .menu-footer {
    margin-top: 15px;
    padding: 0px;
    margin-bottom: 15px;
    li {
      a {
        padding: 1px 0px 0px 0px;
        color: $greyFooterText;
        font-weight: 800;
        font-size: 14px;
        font-family: sans-serif;
      }
    }
    line-height: 0.5;
  }

  .follow-us {
    margin: 10px;
    li {
      margin: 20px;
    }

  }
  .sign-up {
    margin-top: 30px;
    margin-bottom: 20px;
    .secondary {
      background-color: #373737;
      padding-left: 10px;
      border-radius: 0px 5px 5px 0px;
    }
    .input-group-field {
      width: 170px;
      flex: 10px;
    }
  }
}

.section-eleven {
  min-height: 80px;
  background: $grey;
  .menu {
    padding-top: 10px;
    a {
      color: $footerTitle;
      font-size: 14px;
      font-weight: 800;
    }
  }
}